{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>About Us | Ligmacy Pharma</title>
{% endblock %}

{% block content %}

<section class="page-section about-heading">
    <div class="container"><img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets/img/background.jpg' %}">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Best pharmacy out there</span><span class="section-heading-lower">&nbsp;About Our Services</span></h2>
                        <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up the best medicines sourced from branded products in various regions of the world. We are dedicated to travelling the world, finding the best quality, and bringing back to you here in our pharmacy.</p>
                        <p class="mb-0"><span>We guarantee that you will be&nbsp;</span><span>safe</span><span>&nbsp;with best quality medicines the moment you walk inside. Join us for your daily routine, an outing with friends, or simply just to buy some medicines.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}