{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block head %}
    <title>Cart | Ligmacy Pharma</title>
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center cta-inner rounded">
                    <h2 class="section-heading mb-5"><span class="section-heading-upper">User: {{user.first_name}}</span><span class="section-heading-lower">CART ITEMS</span></h2>
                    <table class="table" style="color: black; font-family:Nirmala UI">
                        <thead>
                            <tr style="color:rgb(255, 144, 80)">
                                <ul class="list-unstyled text-start mx-auto list-hours mb-5">
                                <th><li class="d-flex list-unstyled-item list-hours-item">Item</li></th>
                                <th>Amount</th>
                                <th>Subtotal</th>
                                </ul>
                            </tr>
                        </thead>
                        {% for i in items %}
                        <tbody>
                            <tr>
                                <th class="d-flex list-unstyled-item list-hours-item">{{i.items_id.name}}</th>
                                <th>{{i.amount}}</th>
                                <th>{{i.amount|mul:i.items_id.price}}</th>
                            </tr>
                        </tbody>
                    {% endfor %}
                    </table>
                    <h2>Total:</h2>
                    <!-- <p class="address mb-5"><em><strong>1116 Orchard Street</strong><span><br>Golden Valley, Minnesota</span></em></p>
                    <p class="address mb-0"><small><em>Call Anytime</em></small><span><br>(317) 585-8468</span></p> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}