{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Contact Us | Ligmacy Pharma</title>
{% endblock %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro"></div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center cta-inner rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">ANY QUESTIONS</span><span class="section-heading-lower">CONTACT US</span></h2>
                    <p class="text-center mb-0">Email us on <a href="mailto:ligmacypharma@gmail.com">ligmacypharma@gmail.com</a><br>Our Facebook Page: <a href="https://facebook.com">Link</a><br>Our Twitter Page: <a href="https://twitter.com">Link</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}