{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Dashboard | Ligmacy Pharma</title>
{% endblock %}

{% block content %}

<section class="text-center page-section">
  <div class="container text-center">
      <div class="text-center product-item">
          <div class="d-flex product-item-title"></div>
      </div>
      <div class="table-responsive" style="background: var(--bs-brown);">
        <p> {{user.get_username }} - test</p>
          <table class="table" style="color: white">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Stock</th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for m in med %}
                  <tr>
                      <td>{{m.uid}}</td>
                      <td>{{m.name}}</td>
                      <td>{{m.price}}</td>
                      <td>{{m.stock}}</td>
                      <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#a{{m.uid}}">
                          Edit
                        </button></td>
                        <div class="modal fade" id="a{{m.uid}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="a{{m.uid}}Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="a{{m.uid}}Label">Update Medicine</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post">
                                  {% csrf_token %}
                                  <h2 class="visually-hidden">Login Form</h2>
                                  <div class="mb-3"><input class="form-control" type="med_id" name="med_id" value="{{m.uid}}" hidden></div>
                                  <div class="mb-3"><input class="form-control" type="med_name" name="med_name" value="{{m.name}}" required></div>
                                  <div class="mb-3"><input class="form-control" type="price" name="price" value="{{m.price}}" required></div>
                                  <div class="mb-3"><input class="form-control" type="stock" name="stock" value="{{m.stock}}" required></div>
                                  <div class="mb-3"><button class="btn btn-primary d-block w-100" name="btnMedicineUpdateSubmit" id="btnMedicineUpdateSubmit" onclick="return confirm('Are you sure?')" type="submit">Update Medicine</button></div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#a-del{{m.uid}}">
                          Delete
                        </button>
                        </td>
                        <div class="modal fade" id="a-del{{m.uid}}" tabindex="-1" aria-labelledby="a-del{{m.uid}}Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="a-del{{m.uid}}Label">Delete Medicine</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Deleting ID: {{m.uid}}, are you sure to delete?
                              </div>
                              <div class="modal-footer">
                                <form method="POST">
                                  {% csrf_token %}
                                  <div class="mb-3"><input class="form-control" type="med_id" name="med_id" value="{{m.uid}}" hidden></div>
                                  <button type="submit" class="btn btn-primary" name="btnMedicineDeleteSubmit" id="btnMedicineDeleteSubmit">Delete Record</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>

                            </div>
                          </div>
                        </div>

                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="table-responsive" style="background: var(--bs-brown);">
          <table class="table" style="color: white">
              <thead>
                  <tr>
                      <th>Email</th>
                      <th>Name</th>
                      <th>Age</th>
                  </tr>
              </thead>
              <tbody>
                  {% for a in acc %}
                  <tr>
                      <td>{{a.email}}</td>
                      <td>{{a.name}}</td>
                      <td>{{a.age}}</td>
                      <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#b{{a.id}}">
                          Edit
                        </button></td>
                        <div class="modal fade" id="b{{a.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="b{{a.id}}Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="b{{a.id}}Label">Update Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  <form method="post">
                                      {% csrf_token %}
                                      <h2 class="visually-hidden">Login Form</h2>
                                      <div class="mb-3"><input class="form-control" type="user_id" name="user_id" value="{{a.id}}" hidden></div>
                                      <div class="mb-3"><input class="form-control" type="email" name="email" value="{{a.email}}" required></div>
                                      <div class="mb-3"><input class="form-control" type="name" name="name" value="{{a.name}}" required></div>
                                      <div class="mb-3"><input class="form-control" type="age" name="age" value="{{a.age}}" required></div>
                                      <div class="mb-3"><button class="btn btn-primary d-block w-100" id="btnAccountUpdateSubmit" name="btnAccountUpdateSubmit" onclick="return confirm('Are you sure?')" type="submit">Update Account</button></div>
                                  </form>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#b-del{{a.id}}">
                          Delete
                        </button>
                        </td>
                        <div class="modal fade" id="b-del{{a.id}}" tabindex="-1" aria-labelledby="b-del{{a.id}}Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="b-del{{a.id}}">Delete Account</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Deleting ID: {{a.id}}, are you sure?
                              </div>
                              <div class="modal-footer">
                                <form method="POST">
                                  {% csrf_token %}
                                  <div class="mb-3"><input class="form-control" type="user_id" name="user_id" value="{{a.id}}" hidden></div>
                                  <button type="submit" class="btn btn-primary" name="btnAccountDeleteSubmit" id="btnAccountDeleteSubmit">Delete Record</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  </tr>

                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
<script>
  const open = document.getElementById("open_modal");
  const container = document.getElementById("container");
  const close = document.getElementById("close_modal");

  open.addEventListener('click', () =>{
      container.classList.add('show');
  });

  close.addEventListener('click', () =>{
      container.classList.remove('show');
  });


  var myModal = document.getElementById('myModal')
  var myInput = document.getElementById('myInput')

  myModal.addEventListener('shown.bs.modal', function () {
  myInput.focus()
  })

</script>

{% endblock %}