{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Home | Ligmacy Pharma</title>
{% endblock %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="{% static 'assets/img/index-intro.jpg' %}">
            <div class="text-center intro-text p-5 rounded bg-faded">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">Fresh PRODUCTS</span><span class="section-heading-lower">Worth<br>BUYING</span></h2>
                <p class="mb-3">Every medicine of our quality starts with our locally trusted sources, checked every product if it is legitimate. Our products are also cheap to buy, we also offer discounts and promotions.</p>
                <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="#">Visit Us Today!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center cta-inner rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">Our Promise</span><span class="section-heading-lower">To You</span></h2>
                    <p class="mb-0">When you walk into our shop to buy your needs, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, carefully picked products as we care for you health and quality of our products. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}