{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Sign In | Ligmacy Pharma</title>
{% endblock %}

{% block content %}

<section class="login-dark">
    <form method="post">
        {% csrf_token %}
        <h2>You logged out.</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="mb-3"><input class="form-control" type="username" name="username" placeholder="Username"></div>
        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" onclick="location.href='profile.html'">Log In</button></div><a class="forgot" href="#">Forgot your password?</a>
    </form>
</section>



{% endblock %}