{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Profile | Ligmacy Pharma</title>
{% endblock %}

{% block content %}
<section>
    <div class="table-responsive" style="background: var(--bs-brown);">
        <table class="table" style="color: black">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Date Joined</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.date_joined}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}