{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Store | Ligmacy Pharma</title>
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}

{% block content %}

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center cta-inner rounded">
                    <h2 class="section-heading mb-5"><span class="section-heading-upper">Come On In</span><span class="section-heading-lower">STORE STOCKS</span></h2>
                    <ul class="list-unstyled text-start mx-auto list-hours mb-5">
                        <li class="d-flex list-unstyled-item list-hours-item">Item<span class="ms-auto">Action</span></li>
                        {% for m in meds %}
                        <li class="d-flex list-unstyled-item list-hours-item">{{m.name}} - {{m.price}} pesos
                            <span class="ms-auto"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cart-{{m.uid}}">Add to cart</button></span>
                            <!-- Add to cart modal -->
                            <div class="modal fade" id="cart-{{m.uid}}" data-bs-backdrop="static"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="cart-{{m.uid}}Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cart-{{m.uid}}Label">Add to cart</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post">
                                                {% csrf_token %}
                                                <h2 class="visually-hidden">Add to cart</h2>
                                                {% comment %} <div class="mb-3"><input class="form-control" type="med_id" name="med_id" value="{{m.uid}}" hidden></div> {% endcomment %}
                                                <div class="mb-3"><input class="form-control" type="med_id" name="med_id" value="{{m.uid}}" hidden></div>
                                                <div class="mb-3"><input class="form-control" type="text" name="user_id" value="{{user.id}}" hidden></div>
                                                <div class="mb-3">Amount to order: <input class="form-control" type="amount" name="amount" placeholder="Enter 0 for none" required></div>
                                                <div class="mb-3"><button class="btn btn-primary d-block w-100" name="btnAddToCart" id="btnAddToCart" onclick="return confirm('Are you sure?')" type="submit">Add to cart</button></div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="address mb-5"><em><strong>1116 Orchard Street</strong><span><br>Golden Valley, Minnesota</span></em></p>
                    <p class="address mb-0"><small><em>Call Anytime</em></small><span><br>(317) 585-8468</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}